body {
    margin: 0px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#canvas {

    background-color: black;
    position: relative;
    margin: 30px;
    margin-left: 30px;
    display: inline-block;
    outline: white 3px solid;

    width: 500px;
    height: 500px;
}

#canvas_container {
    position: relative;
    width: 75%;
    height: 500;
    margin: 40px auto;
}

* {
    color: white;
}

.butt {

    background-color: rgb(0, 0, 0);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border-width: 5px;
    border: solid;
    font-size: 16px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;

    width: 300px;
    font-size: 32px;
}

.butt:hover {
    background-color: rgb(40, 40, 40);
}

.elem {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

#buts {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}